state-machines/receipts-extractor.asl.json
{
    "Comment": "Receipts extractor step function definition",
    "StartAt": "Try",
    "States": {
        "Try": {
            "Type": "Parallel",
            "Branches": [
                {
                    "StartAt": "Receipts-Reader",
                    "States": {
                        "Receipts-Reader": {
                            "Type": "Task",
                            "Resource": "${ReceiptsReadeArn}",
                            "Next": "Payments-Processor"
                        },
                        "Payments-Processor": {
                            "Type": "Task",
                            "Resource": "${PaymentsProcessorArn}",
                            "End": true
                        }
                    }
                }
            ],
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "Error-Notify"
                }
            ],
            "Next": "Job-Succeeded"
        },
        "Job-Succeeded": {
            "Type": "Succeed"
        },
        "Error-Notify": {
            "Type": "Task",
            "Resource": "arn:aws:states:::sns:publish",
            "Parameters": {
                "TopicArn": "${ErrorTopicArn}",
                "Message.$": "$"
            },
            "Next": "Fail-Workflow"
        },
        "Fail-Workflow": {
            "Type": "Fail"
        }
    }
}